#include <windows.h>
#include "resource.h"

IDD_OPTIONS_DIALOG DIALOGEX 0, 0, 200, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "FANmoniter Settings"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,85,175,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,140,175,50,14
    PUSHBUTTON      "Restore Defaults",IDC_RESTORE_DEFAULTS,10,175,60,14
    
    LTEXT           "CPU Max RPM:",IDC_STATIC,15,15,60,8
    EDITTEXT        IDC_CPU_MAX_RPM,80,13,100,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "GPU Max RPM:",IDC_STATIC,15,35,60,8
    EDITTEXT        IDC_GPU_MAX_RPM,80,33,100,14,ES_AUTOHSCROLL | ES_NUMBER
    
    CONTROL         "Enable color for value text",IDC_ENABLE_COLOR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,55,120,10
    
    GROUPBOX        "Custom Labels",IDC_STATIC,10,70,180,95
    LTEXT           "CPU RPM Label:",IDC_STATIC,15,85,60,8
    EDITTEXT        IDC_CPU_FAN_RPM_LABEL,80,83,100,14,ES_AUTOHSCROLL
    LTEXT           "CPU Pct Label:",IDC_STATIC,15,105,60,8
    EDITTEXT        IDC_CPU_FAN_PCT_LABEL,80,103,100,14,ES_AUTOHSCROLL
    LTEXT           "GPU RPM Label:",IDC_STATIC,15,125,60,8
    EDITTEXT        IDC_GPU_FAN_RPM_LABEL,80,123,100,14,ES_AUTOHSCROLL
    LTEXT           "GPU Pct Label:",IDC_STATIC,15,145,60,8
    EDITTEXT        IDC_GPU_FAN_PCT_LABEL,80,143,100,14,ES_AUTOHSCROLL
END
